USE [master]
GO
/****** Object:  Database [DBBaoHiem]    Script Date: 6/18/2021 3:03:11 PM ******/
CREATE DATABASE [DBBaoHiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBBaoHiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBBaoHiem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBBaoHiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBBaoHiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBBaoHiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBBaoHiem]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 6/18/2021 3:03:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[idLoaiBaoHiem] [int] NULL,
	[CreateDay] [datetime] NULL,
	[Address] [nvarchar](100) NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBaoHiem]    Script Date: 6/18/2021 3:03:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBaoHiem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBaoHiem] [nvarchar](250) NULL,
 CONSTRAINT [PK_LoaiBaoHiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Information]  WITH CHECK ADD  CONSTRAINT [FK_Information_LoaiBaoHiem] FOREIGN KEY([idLoaiBaoHiem])
REFERENCES [dbo].[LoaiBaoHiem] ([id])
GO
ALTER TABLE [dbo].[Information] CHECK CONSTRAINT [FK_Information_LoaiBaoHiem]
GO
USE [master]
GO
